firefox/venv
venv
data
__pycache__

tags
slsctl

*.log
*.so
*.so.21
*.cache
*.out
.sconsign.dblite
*_bench
!*_bench.cc
*.o
.nfs*
*.core
*.swp

*.aof
*.rdb

artifact_evaluation/dependencies/*
artifact_evaluation/graphs/*
artifact_evaluation/redis.conf

base.txz
