export ROUND=1
export WKLDS="heavy mostread"
export WKLD_PATH="$PWD/ycsb_wkld"
export OUTPATH="/mnt/hongbo/sls-bench/scripts/redis/exp"
export REDIS="/mnt/hongbo/sls-bench/redis/src/redis-server"
export REDIS_CLI="/mnt/hongbo/sls-bench/redis/src/redis-cli"
export MEMCACHED="/mnt/hongbo/sls-bench/memcached/memcached -u hongbo"
export YCSB_PATH="/mnt/hongbo/sls-bench/YCSB/"
export SLS="/mnt/hongbo/sls/tools/slsctl/slsctl"
export SLSKO="/mnt/hongbo/sls/kmod/sls.ko"
