*.gcda
*.gcno
*.gcov
redis.info
lcov-html
*.o
deps/.make-cflags
deps/.make-ldflags
deps/.make-prerequisites
deps/lua/src/liblua.a
deps/lua/src/lua
deps/lua/src/luac
src/.make-prerequisites
src/.make-settings
src/redis-benchmark
src/redis-check-aof
src/redis-check-rdb
src/redis-cli
src/redis-sentinel
src/redis-server
src/release.h
