export ROUND=10
export WKLDS="heavy latest mostread onlyread rmw short"
export WKLD_PATH="$PWD/ycsb_wkld"
export OUTPATH="/mnt/hongbo/sls-bench/scripts/ycsb/redis_exp"
export REDIS="/mnt/hongbo/sls-bench/redis/src/redis-server"
export YCSB_PATH="/mnt/hongbo/sls-bench/YCSB/"
export SLS="/mnt/hongbo/sls/tools/slsctl/slsctl"
export SLSKO="/mnt/hongbo/sls/kmod/sls.ko"
